#app {
    width: 100%;
    height: 800px;
    background-color: aquamarine;
}

.container {
    text-align: center;
}

#myCarousel {
    background-color: deeppink;
}

#myCarousel img {
    height: 300%px;
    margin-top: 35%px;

    .carousel-inner p{
        margin-bottom: 15px;
        margin-top: 15px;
        color: white;
        font-size: 20px;
    }
}
